body{
    background-color: #171717;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    color: #171717;
    text-align: center;
    font-size: 60px;
    line-height: 100px;
    background-color: #F8F0E3;
    font-weight: bold;
}

h2{
    color: rgb(211, 211, 211);
    font-size: 45px;
    text-align: left;
    line-height: 65px;
    margin: 20px 0px 20px 0px;
}

h3{
    color: rgb(234, 234, 234);
    font-size: 30px;
    text-align: left;
    margin: 20px 0px 20px 0px;
}

p{
    color: rgb(50, 50, 50);
    line-height: 27px;
    background-color: gray;
    font-weight: bolder;
    font-size: 15px;
    padding: 20px 40px 20px 40px;
    border-radius: 20px;
    margin-left: 130px;
    margin-right: 130px;
}

#lista{
    color: rgb(185, 185, 185);
    line-height: 40px;
    list-style-type: circle;
    color: rgb(50, 50, 50);
    background-color: gray;
    font-weight: bolder;
    font-size: 15px;
    padding-top: 20px 40px 20px 40px;
    border-radius: 20px;
    margin: auto 1050px auto 130px;
}

table{
    color: #e5dbc3;
}

img{
    width: 650px;
    height: 250px;
    border-radius: 10px;
    margin: auto;
    display: block;
}

footer{
    color: rgba(80, 80, 80, 0.9);
    text-align: right;
    font-size: 13px;
    color: wheat;
}

a:hover{
    color:red;
}

a:visited{
    color:white;
}
