
.kk:link {
    color: rgb(68, 62, 62);
    text-decoration: none;
}

.kk:visited {
    color: rgb(68, 62, 62);
}
.kk:hover {
    color: rgb(41, 91, 134);
}
  
.kk:active {
    color: rgb(68, 62, 62);
}

#lista2{
    color: rgb(185, 185, 185);
    line-height: 40px;
    list-style-type: circle;
    color: rgb(50, 50, 50);
    background-color: gray;
    font-weight: bolder;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 20px;
    margin: auto 130px auto 130px;
}

.margin{
    margin-right: 450px;
    margin-left: 450px;
}
.kep{
    
    border-radius: 30px; 
    height: 25%; 
    width: 50%; 
    margin: auto auto 20px auto;
}

.kep2{
    float: right;
    border-radius: 30px; 
    height: 25%; 
    width: 30%; 
    margin: 3px 130px 0px 10px;
}

.kep3{
    float: right;
    border-radius: 30px; 
    width: 25%;
    margin: 3px 130px 0px 10px;
}

.kep4{
    float: right;
    border-radius: 30px; 
    width: 45%; 
    margin: 0px 130px 0px 10px;
}